
<footer>
    <md-card>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel hendrerit augue, eu efficitur nunc. In ultricies ornare velit nec tincidunt. Nulla placerat hendrerit tristique. Phasellus vehicula elit et placerat varius. Integer porta, mi non molestie consectetur, odio ex feugiat est, vel vulputate tortor dolor id nunc. Donec pellentesque pharetra libero quis commodo. Quisque mollis pretium tortor molestie facilisis. Donec nulla erat, interdum ornare erat vestibulum, eleifend mattis neque. Donec et interdum ligula. Morbi in viverra velit, et dictum nisl. Phasellus elementum at enim ut imperdiet. Curabitur hendrerit rhoncus felis, quis congue ex consequat ornare.

            Phasellus risus ante, malesuada sit amet cursus eu, lacinia ac erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur viverra posuere ante a lacinia. Vestibulum eu velit sed lorem hendrerit volutpat ut vitae justo. Aliquam erat volutpat. Ut a magna egestas, cursus neque at, iaculis sem. Aenean at placerat libero.
        </p>
    </md-card>
</footer>