div md-card button {
  margin: 8px;
}
main {
  display: flex;
  flex-direction: column;
  padding-top: 98px;
  height: calc(100% - 98px);
  /*using ~ less ignores the transformation here*/
}
.main-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.flex-item.flex-nav {
  padding-bottom: 100px;
}