

.flex-main
{
    margin:24px
}

.chat-area
{
    md-input-container {
        width: 100%;
    }
}

.chat-text-area {
    resize:none;
    overflow:hidden;
    height:480px;
    max-height:480px;
    min-height:480px;
}

.user-chat-input {
    width: 100%;
}
