<div class="flex-main">
    <div class="container-fluid">
        <div class="row">
            <div class="chat-area col-lg-offset-4 col-lg-4 col-sm-12 col-md-12">

                <label class="label label-info">Chat Area</label>

                <br />

                <md-input-container>
                    <textarea class="chat-text-area" mdInput>1600 Amphitheatre Pkwy</textarea>
                </md-input-container>

                <md-input-container>
                    <input class="user-chat-input" mdInput placeholder="Type message...">
                </md-input-container>

            </div>
        </div>

    </div>
</div>