<div class="flex-main">
    <div class="container-fluid">
        <div class="row">
            Row 1

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="container-fluid">
                    <div class="col-lg-4">
                        Howdy 4
                    </div>

                    <div class="col-lg-4">
                        Howdy 4
                    </div>

                    <div class="col-lg-4">
                        Howdy 4
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            Row 2

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="container-fluid">
                    <div class="col-lg-12">
                        Howdy - 12
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>