div.container {
  display: flex;
  margin-bottom: 10px;
}
div.container > div {
  flex: 1 1 5em;
  margin-left: 10px;
  height: 50px;
  background-color: blue;
}
div.container > div:first-child {
  margin-left: 0;
}
div.container > div.two {
  flex: 2 2 calc(20em);
  /** 10px is the missing margin of the missing box */
}
div.container > div.three {
  flex: 3 3 calc(35em);
  /** 20px is the missing margin of the two missing boxes */
}
.flex-wrapper {
  margin: 16px;
}