header {
  padding: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header > md-card {
  border-radius: 0px;
  margin: 0px;
  box-shadow: none;
}
header > md-card .flex-container {
  width: 100%;
}