body {
  height: 100%;
  margin: 0px;
}
.full-width {
  width: 100%;
}
.flex-wrapped {
  flex-wrap: wrap;
}
md-card {
  margin: 24px;
}
::-webkit-scrollbar {
  width: 10px !important;
  height: 6px !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}