.about-form {
  width: 500px;
}
.example-card {
  width: 400px;
}
.inner-flex-container {
  flex: 1;
}
.example-header-image {
  background-image: url('assets/img/examples/shiba1.jpg');
  background-size: cover;
}
md-slider {
  width: 100%;
}
div.flex-item button {
  margin-right: 8px;
}
div.person-container p {
  text-decoration: underline;
  margin-right: 10px;
}