<div class="container">
    <div class="row" [@easeIn]>
        <div class="column">
            <md-card>
                <md-slider min="0" max="10" step="1" thumb-level="true" tick-interval="1" [(ngModel)]="shibaCards" (ngModelChange)='sliderChanged($event)'></md-slider>
                <p>
                    Shibas: {{ shibaCards }}
                </p>
            </md-card>
        </div>
    </div>
    <div class="row row-3" [@easeIn]>
        <div class="column column-30" *ngFor="let item of shibaCardsArray; let id = index;">
            <md-card [@flyInOut]>
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>Shiba Inu - {{ id + 1 }}</md-card-title>
                    <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="../../assets/img/shiba1.jpg">
                <md-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </md-card-content>
                <md-card-actions>
                    <button md-button (click)="likeShiba(id)">LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="row" [@easeIn]>
        <div class="column">
            <div class="buttons">
                <button md-raised-button
                        (click)="getPeople()"
                        color="primary">
                    Get People
                </button>

                <button md-raised-button
                        (click)="clearPeople()"
                        color="warn">
                    Clear People
                </button>
            </div>

            <div *ngIf="people.length > 0"
                 class="person-container">
                <h3>
                    People loaded:
                </h3>
                <p class="person-item" *ngFor="let person of people; let i = index;">
                    {{ person.firstName }} {{ person.lastName }}
                </p>
            </div>
        </div>
    </div>
</div>